<!DOCTYPE html>
<html>
<head>
    <title>Foxess H3 Tageswerte und Gesamtwerte</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foxess.js') }}"></script>
</head>
<body>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="PV">PV-Ansicht</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="BAT">Batterie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="TAG">Tageswerte</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">Alle Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="VERLAUF">Tageswerte im Verlauf</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="HMIP">Homematic</a>
        </li>
    </ul>
    <div class="container-fluid bg-primary text-center text-white">
        <h1>Batterieübersicht</h1>
        <button onclick="getDataFromServer()">Lese Daten</button>
    </div>
    <div class="container-fluid bg-secondary text-white">
        <div class="row">
            <div class="col-sm-4">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th style="text-align:left">SOC</th>
                            <td style="text-align:right" class="foxess" id="foxess_inv1_battery_soc">SOC</td>
                        </tr>
                        <tr>
                            <th style="text-align:left">SOH</th>
                            <td style="text-align:right" class="foxess" id="foxess_inv1_battery_soh">SOH</td>
                        </tr>
                        <tr>
                            <th style="text-align:left">Kapazität</th>
                            <td style="text-align:right" class="foxess" id="foxess_inv1_battery_capacity">Total</td>
                        </tr>
                        <tr>
                            <th style="text-align:left">Max Ladestrom</th>
                            <td style="text-align:right" class="foxess" id="foxess_inv1_max_charge_current">Max Charge</td>
                        </tr>
                        <tr>
                            <th style="text-align:left">Max Entladestrom</th>
                            <td style="text-align:right" class="foxess" id="foxess_inv1_max_discharge_current">Max Discharge</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th style="text-align:left">Spannung</th>
                            <td style="text-align:right" class="foxess" id="foxess_inv1_battery_voltage">Spannung</td>
                        </tr>
                        <tr>
                            <th style="text-align:left">Strom</th>
                            <td style="text-align:right" class="foxess" id="foxess_inv1_battery_current">Strom</td>
                        </tr>
                        <tr>
                            <th style="text-align:left">Leistung</th>
                            <td style="text-align:right" class="foxess" id="foxess_inv1_battery_power">Leistung</td>
                        </tr>
                        <tr>
                            <th style="text-align:left">Temperatur</th>
                            <td style="text-align:right" class="foxess" id="foxess_inv1_battery_temperature">Temperatur</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4">
                <table class="table table-bordered">
                    <thead thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th style="text-align:left">Tageswert</th>
                            <th style="text-align:left">Gesamtwert</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th style="text-align:left">Batterie Laden</th>
                            <td style="text-align:right" class="foxess" id="foxess_inv1_daily_charge_energy">Daily</td>
                            <td style="text-align:right" class="foxess" id="foxess_inv1_total_charge_energy">Total</td>
                        </tr>
                        <tr>
                            <th style="text-align:left">Batterie Entladen</th>
                            <td style="text-align:right" class="foxess" id="foxess_inv1_daily_discharge_energy">Daily</td>
                            <td style="text-align:right" class="foxess" id="foxess_inv1_total_discharge_energy">Total</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-secondary text-white">
        <div class="row">
            <div class="col-sm-12">
                <h2>Geräte</h2>
                <table class="table table-bordered">
                    <thead thead class="thead-dark">
                        <tr>
                            <th>Gerät</th>
                            <th>Seriennummer</th>
                            <th>Firmware</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="foxess" id="foxess_bms_family_type">Batterie Master</td>
                            <td class="foxess" id="foxess_bms_master_sn">SerNo</td>
                            <td class="foxess" id="foxess_bat_master">FW Bat Master</td>
                        </tr>
                        <tr>
                            <td>Batterie Slave 1</td>
                            <td class="foxess" id="foxess_bms_slave_1_sn">SerNo</td>
                            <td class="foxess" id="foxess_bat_slave_1">FW Bat Slave 1</td>
                        </tr>
                        <tr>
                            <td>Batterie Slave 2</td>
                            <td class="foxess" id="foxess_bms_slave_2_sn">SerNo</td>
                            <td class="foxess" id="foxess_bat_slave_2">FW Bat Slave 2</td>
                        </tr>
                        <tr>
                            <td>Batterie Slave 3</td>
                            <td class="foxess" id="foxess_bms_slave_3_sn">SerNo</td>
                            <td class="foxess" id="foxess_bat_slave_3">FW Bat Slave 3</td>
                        </tr>
                        <tr>
                            <td>Batterie Slave 4</td>
                            <td class="foxess" id="foxess_bms_slave_4_sn">SerNo</td>
                            <td class="foxess" id="foxess_bat_slave_4">FW Bat Slave 4</td>
                        </tr>
                        <tr>
                            <td>Batterie Slave 5</td>
                            <td class="foxess" id="foxess_bms_slave_5_sn">SerNo</td>
                            <td class="foxess" id="foxess_bat_slave_5">FW Bat Slave 5</td>
                        </tr>
                        <tr>
                            <td>Batterie Slave 6</td>
                            <td class="foxess" id="foxess_bms_slave_6_sn">SerNo</td>
                            <td class="foxess" id="foxess_bat_slave_6">FW Bat Slave 6</td>
                        </tr>
                        <tr>
                            <td>Batterie Slave 7</td>
                            <td class="foxess" id="foxess_bms_slave_7_sn">SerNo</td>
                            <td class="foxess" id="foxess_bat_slave_7">FW Bat Slave 7</td>
                        </tr>
                        <tr>
                            <td>Batterie Slave 8</td>
                            <td class="foxess" id="foxess_bms_slave_8_sn">SerNo</td>
                            <td class="foxess" id="foxess_bat_slave_8">FW Bat Slave 8</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        getDataFromServer()
        let timer = setInterval(function() {
            getDataFromServer();
        }, 30000);
    </script>
</body>
</html>
