<!DOCTYPE html>
<html>
<head>
    <title>Homematic Aktuelle Zustände</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foxess.js') }}"></script>
</head>
<body>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="PV">PV-Ansicht</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="BAT">Batterie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="TAG">Tageswerte</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">Alle Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="VERLAUF">Tageswerte im Verlauf</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="HMIP">Homematic</a>
        </li>
    </ul>
    <div class="container-fluid bg-primary text-center text-white">
        <h1>Gesamtübersicht</h1>
        <button onclick="getDataFromServer()">Lese Daten</button>
    </div>
    <div class="container-fluid bg-secondary text-white">
        <div class="row">
            <div class="col-sm-4">
                <h2>Temperaturen</h2>
                <table class="table table-bordered">
                    <thead thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th>Ist Wert</th>
                            <th>Soll Wert</th>
                            <th>Luftfeuchtigkeit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Wohnzimmer</th>
                            <td style="text-align:right" class="homematic" id="temp_ist_eg_wohnzimmer">IST</td>
                            <td style="text-align:right" class="homematic" id="temp_soll_eg_wohnzimmer">SOLL</td>
                            <td style="text-align:right" class="homematic" id="feuchte_eg_wohnzimmer">Feuchte</td>
                        </tr>
                        <tr>
                            <th>Küche</th>
                            <td style="text-align:right" class="homematic" id="temp_ist_eg_kueche">IST</td>
                            <td style="text-align:right" class="homematic" id="temp_soll_eg_kueche">SOLL</td>
                            <td style="text-align:right" class="homematic" id="feuchte_eg_kueche">Feuchte</td>
                        </tr>
                        <tr>
                            <th>Treppenhaus</th>
                            <td style="text-align:right" class="homematic" id="temp_ist_eg_treppe">IST</td>
                            <td style="text-align:right" class="homematic" id="temp_soll_eg_treppe">SOLL</td>
                            <td style="text-align:right" class="homematic" id="feuchte_eg_treppe">Feuchte</td>
                        </tr>
                        <tr>
                            <th>Schlafzimmer</th>
                            <td style="text-align:right" class="homematic" id="temp_ist_og_schlafzimmer">IST</td>
                            <td style="text-align:right" class="homematic" id="temp_soll_og_schlafzimmer">SOLL</td>
                            <td style="text-align:right" class="homematic" id="feuchte_og_schlafzimmer">Feuchte</td>
                        </tr>
                        <tr>
                            <th>Kinderzimmer</th>
                            <td style="text-align:right" class="homematic" id="temp_ist_og_kinderzimmer">IST</td>
                            <td style="text-align:right" class="homematic" id="temp_soll_og_kinderzimmer">SOLL</td>
                            <td style="text-align:right" class="homematic" id="feuchte_og_kinderzimmer">Feuchte</td>
                        </tr>
                        <tr>
                            <th>Badezimmer</th>
                            <td style="text-align:right" class="homematic" id="temp_ist_og_badezimmer">IST</td>
                            <td style="text-align:right" class="homematic" id="temp_soll_og_badezimmer">SOLL</td>
                            <td style="text-align:right" class="homematic" id="feuchte_og_badezimmer">Feuchte</td>
                        </tr>
                        <tr>
                            <th>Badezimmer Handtuchhalter</th>
                            <td style="text-align:right" class="homematic" id="temp_ist_og_badezimmer_h">IST</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Büro groß Süd</th>
                            <td style="text-align:right" class="homematic" id="temp_ist_dg_buero_g_s">IST</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Büro groß Nord</th>
                            <td style="text-align:right" class="homematic" id="temp_ist_dg_buero_g_n">IST</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Büro klein</th>
                            <td style="text-align:right" class="homematic" id="temp_ist_dg_buero_k_n">IST</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-2">
                <h2>Lichter</h2>
                <table class="table table-bordered">
                    <thead thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Treppenhaus Keller</th>
                            <td style="text-align:left" class="homematic" id="licht_keller">IST</td>
                        </tr>
                        <tr>
                            <th>Treppenhaus Erdgeschoß</th>
                            <td style="text-align:left" class="homematic" id="licht_eg">IST</td>
                        </tr>
                        <tr>
                            <th>Treppenhaus Obergeschoß</th>
                            <td style="text-align:left" class="homematic" id="licht_og">IST</td>
                        </tr>
                        <tr>
                            <th>Terrassenlicht</th>
                            <td style="text-align:left" class="homematic" id="licht_terrasse">IST</td>
                        </tr>
                        <tr>
                            <th>Gartenlicht vorne</th>
                            <td style="text-align:left" class="homematic" id="licht_garten_vorne">IST</td>
                        </tr>
                        <tr>
                            <th>Gartenlicht hinten</th>
                            <td style="text-align:left" class="homematic" id="licht_garten_hinten">IST</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-2">
                <h2>Rolläden</h2>
                <table class="table table-bordered">
                    <thead thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th>geöffnet</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Südfenster West</th>
                            <td style="text-align:right" class="homematic" id="rollade_dg_suedfenster_w">IST</td>
                        </tr>
                        <tr>
                            <th>Südfenster Ost</th>
                            <td style="text-align:right" class="homematic" id="rollade_dg_suedfenster_o">IST</td>
                        </tr>
                        <tr>
                            <th>Seitenfenster</th>
                            <td style="text-align:right" class="homematic" id="rollade_dg_seitenfenster">IST</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-2">
                <h2>Sonstige</h2>
                <table class="table table-bordered">
                    <thead thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th>geöffnet</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>WC Fenster</th>
                            <td style="text-align:left" class="homematic" id="wc_fenster">IST</td>
                        </tr>
                        <tr>
                            <th>Garagentor</th>
                            <td style="text-align:left" class="homematic" id="garagentor">IST</td>
                        </tr>
                        <tr>
                            <th>Mess-Steckdose</th>
                            <td style="text-align:left" class="homematic" id="mess_steckdose">IST</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-2">
                <h2>Strom</h2>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Aktuelle Leistung</th>
                            <td style="text-align:right" class="homematic" id="strom_akt_leistung">IST</td>
                        </tr>
                        <tr>
                            <th>Bezug total</th>
                            <td style="text-align:right" class="homematic" id="strom_bezug_total">IST</td>
                        </tr>
                        <tr>
                            <th>Einspeisung total</th>
                            <td style="text-align:right" class="homematic" id="strom_einspeisung_total">IST</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        getDataFromServer()
    </script>
</body>
</html>
