<!DOCTYPE html>
<html>
<head>
    <title>PV Ansicht</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foxess.js') }}"></script>
</head>
<body>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="PV">PV-Ansicht</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="BAT">Batterie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="TAG">Tageswerte</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">Alle Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="VERLAUF">Tageswerte im Verlauf</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="HMIP">Homematic</a>
        </li>
    </ul>
    <div class="container-fluid bg-primary text-center text-white">
        <h1>Übersicht</h1>
        <button onclick="getDataFromServer()">Lese Daten</button>
    </div>
    <div class="container-fluid bg-secondary text-white">
        <div class="row">
            <div class="col-sm-4">
                <h2>PV-Module</h2>
                <table class="table table-bordered">
                    <thead thead class="thead-dark">
                        <tr>
                            <th style="text-align:left">String</th>
                            <th style="text-align:left">Spannung</th>
                            <th style="text-align:left">Strom</th>
                            <th style="text-align:left">Leistung</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th style="text-align:left">MPPT1</th>
                            <td style="text-align:right" class="foxess" id="foxess_inv1_pv1_voltage">Spannung</td>
                            <td style="text-align:right" class="foxess" id="foxess_inv1_pv1_current">Strom</td>
                            <td style="text-align:right" class="foxess" id="foxess_inv1_pv1_power">Leistung</td>
                        </tr>
                        <tr>
                            <th style="text-align:left">MPPT2</th>
                            <td style="text-align:right" class="foxess" id="foxess_inv1_pv2_voltage">Spannung</td>
                            <td style="text-align:right" class="foxess" id="foxess_inv1_pv2_current">Strom</td>
                            <td style="text-align:right" class="foxess" id="foxess_inv1_pv2_power">Leistung</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th style="text-align:left">Gesamt</th>
                            <td colspan=2></td>
                            <td style="text-align:right" class="foxess" id="foxess_inv1_pv_power">Leistung</td>
                        </tr>
                    <tfoot>
                </table>
            </div>
            <div class="col-sm-8">
                <h2>Netz</h2>
                <table class="table table-bordered">
                    <thead thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th>Spannung</th>
                            <th>Strom</th>
                            <th>Leistung</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th style="text-align:left" th>L1</th>
                            <td style="text-align:right" class="foxess" id="foxess_inv1_grid_voltage_R">Spannung</td>
                            <td style="text-align:right" class="foxess" id="foxess_inv1_inv_current_R">Strom</td>
                            <td style="text-align:right" class="foxess" id="foxess_inv1_inv_power_R">Leistung</td>
                        </tr>
                        <tr>
                            <th style="text-align:left" >L2</th>
                            <td style="text-align:right" class="foxess" id="foxess_inv1_grid_voltage_S">Spannung</td>
                            <td style="text-align:right" class="foxess" id="foxess_inv1_inv_current_S">Strom</td>
                            <td style="text-align:right" class="foxess" id="foxess_inv1_inv_power_S">Leistung</td>
                        </tr>
                        <tr>
                            <th style="text-align:left" >L3</th>
                            <td style="text-align:right" class="foxess" id="foxess_inv1_grid_voltage_T">Spannung</td>
                            <td style="text-align:right" class="foxess" id="foxess_inv1_inv_current_T">Strom</td>
                            <td style="text-align:right" class="foxess" id="foxess_inv1_inv_power_T">Leistung</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-secondary text-white">
        <div class="row">
            <div class="col-sm-12">
                <h2>Geräte</h2>
                <table class="table table-bordered">
                    <thead thead class="thead-dark">
                        <tr>
                            <th>Gerät</th>
                            <th>Seriennummer</th>
                            <th>Firmware</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="foxess" id="foxess_inv1_model">Modell</td>
                            <td class="foxess" id="foxess_serial_no">SerNo</td>
                            <td class="foxess" id="foxess_fw_master">FW Master</td>
                        </tr>
                        <tr>
                            <td class="foxess" id="foxess_inv1_model">Slave</td>
                            <td></td>
                            <td class="foxess" id="foxess_fw_slave">FW Save</td>
                        </tr>
                        <tr>
                            <td>Firmware Manager</td>
                            <td></td>
                            <td class="foxess" id="foxess_fw_mgr">FW Manager</td>
                        </tr>
                        <tr>
                            <td>Modbus Protokol</td>
                            <td></td>
                            <td id="modbus_protocol_version">FW Manager</td>
                        </tr>
                        <tr>
                            <td class="foxess" id="foxess_bms_family_type">Batterie Master</td>
                            <td class="foxess" id="foxess_bms_master_sn">SerNo</td>
                            <td class="foxess" id="foxess_bat_master">FW Bat Master</td>
                        </tr>
                        <tr>
                            <td>Batterie Slave 1</td>
                            <td class="foxess" id="foxess_bms_slave_1_sn">SerNo</td>
                            <td class="foxess" id="foxess_bat_slave_1">FW Bat Slave 1</td>
                        </tr>
                        <tr>
                            <td>Batterie Slave 2</td>
                            <td class="foxess" id="foxess_bms_slave_2_sn">SerNo</td>
                            <td class="foxess" id="foxess_bat_slave_2">FW Bat Slave 2</td>
                        </tr>
                        <tr>
                            <td>Batterie Slave 3</td>
                            <td class="foxess" id="foxess_bms_slave_3_sn">SerNo</td>
                            <td class="foxess" id="foxess_bat_slave_3">FW Bat Slave 3</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        getDataFromServer()
        let timer = setInterval(function() {
            getDataFromServer();
        }, 30000);
    </script>
</body>
</html>
